{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="board">
            <div style="text-align: center; padding-bottom: 25px">
                <h2>TicTacToe</h2>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Send an invitation email to:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-default">Send mail</button>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}